<div class="sidebar  sidelink__expanded">
    <picture class="sidebar__logo">
        <img src="images/Logo.png" alt="">
    </picture>
    <span id="sidelink__toggler">
        <svg class="icon icon--body">
            <use xlink:href="images/sprite.svg#bars-solid"></use>
         </svg>
    </span>
    <ul  class="sidelink__collapsible">
        <li class="sidelink__home">
            <div class="sidelink">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#home-solid"></use>
                </svg>
                <div class="icon-name">
                    <h1>Home</h1>
                </div>
            </div>
        </li>
        <li>
            <div class="sidelink">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#search-solid"></use>
                </svg>
                <div class="icon-name">
                    <h1>Search</h1>
                </div>
            </div>        
        </li>
        <li>
            <div class="sidelink">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#th-list-solid"></use>
                </svg>
                <div class="icon-name">
                    <h1>Your Library</h1>
                </div>
            </div>        
        </li>
        <li>
            <div class="sidelink">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#plus-square-solid"></use>
                </svg>
                <div class="icon-name">
                    <h1>Create Playlist</h1>
                </div>
            </div>        
        </li>
        <li>
            <div class="sidelink">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#gratipay-brands"></use>
                </svg>
                <div class="icon-name">
                    <h1>Liked Songs</h1>
                </div>
            </div>
        </li>
        <li>
            <div class="sidelink sidelink__install">
                <svg class="icon icon--small icon--off">
                    <use xlink:href="images/sprite.svg#arrow-circle-down-solid"></use>
                </svg>
                <div class="icon-name">
                    <h1>Install Now</h1>
                </div>
            </div>
        </li>
    </ul>
</div>