<div class="slider">
    <section class="slider__player">
        <section class="slider__icon">
            <svg class="icon icon--small icon--on">
                <use xlink:href="images/sprite.svg#volume-mute-solid"></use>
            </svg>
            <!-- <svg class="icon icon--small icon--on">
                <use xlink:href="images/sprite.svg#volume-up-solid"></use>
            </svg> -->
            <span class="slider__navigation-icon">
                <svg class="icon icon--small">
                    <use xlink:href="images/sprite.svg#step-backward-solid"></use>
                </svg>
                <svg class="icon icon--on">
                    <use xlink:href="images/sprite.svg#pause-circle-solid"></use>
                </svg>
                <!-- <svg class="icon icon--on">
                    <use xlink:href="images/sprite.svg#play-circle-solid"></use>
                </svg> -->
                <svg class="icon icon--small">
                    <use xlink:href="images/sprite.svg#step-forward-solid"></use>
                </svg>
            </span>
            <svg class="icon icon--small icon--on">
                <use xlink:href="images/sprite.svg#heart-regular"></use>
            </svg>
            <!-- <svg class="icon icon--small icon--on">
                <use xlink:href="images/sprite.svg#heart-solid"></use>
            </svg> -->
        </section>
        <input type="range" name="timeline" min="0" max="100" value="0" id="timeline">
        <div id="selector"></div>
    </section> 
    <section class="slider__content">
        <h1>Shape of You</h1>
        <p>-by Ed Sheeran</p>
    </section>
    <picture class="slider__picture">
        <img src="images/primary.gif" alt="">
    </picture>
</div>